{# the right part of torso, namely the portrait #}
<div id="pl_rightmod_myinfo">
	<dl class="W_person_info clearfix" style="margin:10px">
		<dt>
			<a href="/neozhangthe1/profile?rightmod=1&amp;wvr=5&amp;mod=personinfo"> 
				<img class="S_line5" src="{{ user.portrait.avatar_url|default:'http://tp2.sinaimg.cn/1686427441/180/5646490887/1' }}" width="80" height="80" alt="張宇弢"> </a>
		</dt>
		<dd class="nameBox">
			<a href="/" class="name S_func1" title="{{user.portrait.nick|default:user.username}}">{{user.portrait.nick|default:user.username}}</a>

			<div class="icon_bed"></div>
			<div class="icon_bed">
				<a target="_blank" href="http://level.account.weibo.com/u/?id=1686427441"><span class="W_level_ico color3"><span node-type="level" class="W_level_num l7"></span></span></a>
			</div>
			<div class="icon_bed"></div>

		</dd>
	</dl>
	<ul class="user_atten clearfix">
		<li class="S_line2">
			<a href="/1686427441/follow?rightmod=1&amp;wvr=5" class="S_func1"><strong node-type="follow">289</strong><span>关注</span></a>
		</li>
		<li class="S_line2">
			<a href="/1686427441/fans?rightmod=1&amp;wvr=5" class="S_func1"><strong node-type="fans">138</strong><span>粉丝</span></a>
		</li>
		<li class="W_no_border">
			<a href="/neozhangthe1/profile?rightmod=1&amp;wvr=5&amp;mod=personnumber" class="S_func1"><strong node-type="weibo">608</strong><span>微博</span></a>
		</li>
	</ul>
</div>
